@model IEnumerable<PizzaSquare.Web.Models.UserOrderHistoryViewModel>

@{
    ViewData["Title"] = "OrderHistory";
}

<h1>OrderHistory</h1>

<div id="accordion" role="tablist" aria-multiselectable="true">
    @{ 
        string solution = "#";
        List<int> numbers = new List<int>();
    }

    @foreach (var item in Model)
            { string order = "#a" + item.OrderId.ToString();
                string orderID = "a" + item.OrderId.ToString();

        <div class="card">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="@order" aria-expanded="true" aria-controls="@item.OrderId" class="">
                        ORDER TITLES HERE
                    </a>
                </h5>
            </div>

            <div id="@item.OrderId" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                <div class="card-block">
                    ORDER DEETS HERE
                </div>
            </div>
        </div>
        numbers.Add(item.OrderId);

    }
</div>

<script>
    @{ 
        solution += String.Join(", #a", numbers);
    }
    $(document).ready(function () {
        $('@solution').collapse();
    });
</script>
