@model PizzaSquare.Web.Models.CustomPizzaViewModel

@{
    ViewData["Title"] = "Custom";
}

<h1>Create your own pizza</h1>



<form asp-action="Custom">
    <fieldset>
        <legend>Crust</legend>
        @foreach (var item in Model.Crusts)
        {
            <input type="radio" name="crust_select" value="Cats"> @item.Name <br />
        }
        <legend>Cheese</legend>
        @foreach (var item in Model.Cheeses)
        {
            <input type="radio" name="cheese_select" value="Cats"> @item.Name <br />
        }
        <legend>Sauce</legend>
        @foreach (var item in Model.Sauces)
        {
            <input type="radio" name="sauce_select" value="Cats"> @item.Name <br />
        }
        <legend>Size</legend>
        @foreach (var item in Model.Sizes)
        {
            <input type="radio" name="size_select" value="Cats"> @item.Name <br />
        }
        <input type="submit" value="submit">
    </fieldset>
</form>